<video id="gum" playsinline autoplay muted></video>
<video id="recorded" playsinline loop></video>
<div>
        <button (click)="init()" class="btn btn-dark" id="start">Start camera</button>
        <button (click)="startRecording()" class="btn btn-dark" id="record" disabled>Start Recording</button>
        <button (click)="stopRecording()" class="btn btn-dark" id="stop" disabled>Stop Recording</button>
        <button (click)="download()" class="btn btn-dark" id="download" disabled>Download</button>
</div>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>